pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure
pytest

-e .

# dev requirement

pytest==7.1.3
tox==3.35.1  #for creating the testing env
black==22.8.0 #linting tool
flake8==5.0.4 #linting tool
mypy==0.971
